@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app" style="height:100%"><img src="loading.svg" alt="Loading..." style="padding:100px;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);height:100%;"></div>

@section scripts {
    <script src="~/main.js" asp-append-version="true"></script>
}
