﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KanbanBoard</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/vendor.css" asp-append-version="true" />
    <environment exclude="Development">
        <link rel="stylesheet" href="~/site.css" asp-append-version="true" />
    </environment>
</head>
<body style="height: 100vh">
    @RenderBody()
    <script src="~/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
