.create-button {
    position: absolute;
    z-index: 999;
}

.content {
    height: 100%;
}

.column {
    overflow: hidden;
    padding-bottom: 70px;
    height: 100%;
}

.column-content {
    overflow-y: auto;
    padding: 10px;
    height: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 #000000;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    min-height: 73px;
    padding: 2px 16px;
    position: relative;
    cursor: move;
}

.card-content {
    overflow: auto;
    white-space: normal;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #000000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.control {
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
}

.card:hover > .control {
    display: block;
}

.drag-layer {
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    pointer-events: none;
    z-index: 9999;
    box-shadow: 0 16px 32px 0 #000000;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

@media (max-width: 767px) {
    .drag-layer {
        width: 150px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .drag-layer {
        width: 200px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .drag-layer {
        width: 300px;
    }
}

@media (min-width: 1200px) {
    .drag-layer {
        width: 360px;
    }
}

.loading {
    padding: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}
